body {
  background: #b4b4b4;
  color: #2c2d2e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background-color: rgb(143, 250, 241);
}

#navbar-header {
  color: rgb(124, 40, 40);
}

.default-card {
  background-color: #4b04a7;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.flipped-card {
  background-color: rgb(80, 1, 155);
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.card-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:rgb(209, 209, 209)
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  width: 150px; 
  height: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
