body {
  background: #09092c;
  color: #cdecf9;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background-color: rgb(143, 250, 241);
}

#navbar-header {
  color: red;
}

.flashcard {
  color: #353552
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
